#main-nav ul li {
  color: rgba(255, 255, 255, .9);
  text-align: center;
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100,100,100, .3);
  cursor: pointer
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

